name: CI/CD - Build & Push to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Lấy code về
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Đăng nhập vào Docker Hub (Dùng 2 cái secret bạn vừa tạo)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Cài đặt công cụ build xịn của Docker (Buildx)
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 4. Build ảnh và Đẩy lên (Push)
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/organic-shop-web:latest